<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>rss boxes</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet" />
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="{{ url_for('serve_favicon') }}">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>
  <body>
      <div class="head">
        <div class="headerobjectswrapper">
            <header>THE POST</header>
        </div>
        <div class="subhead">rss news: all the boxes fit to print</div>
      </div>

      <div class="cards">


        {% for feed in feeds %}


        <div class="card">
          <div class="title">
            <h2>{{ feed.title }}</h2>
          </div>
          <ul>
            {% for article in feed.articles %}
              <li>
                <a href="{{ article.link }}" target="_blank">{{ article.title }}</a>
                {% if article.summary is not none %}
                <div class=subtext>{{article.summary}}</div>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>

        {% endfor %}

    </div>

    <div class="bottombanner">
      <p>
      <a href="https://github.com/semiformal-net/rssboxes" target="_blank">
       <button class="btn"><i class="fa fa-github fa-lg" aria-hidden="true"></i></button>
      </a> Semiformal
      </p>
    </div>

  </body>
</html>
