<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>rss boxes</title>
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Roboto:400,700" as="style">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" media="all">
    <link rel="shortcut icon" href="{{ url_for('serve_favicon') }}">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>
  <body>
      <div class="head">
        <div class="headerobjectswrapper">
            <header>BOXED NEWS NOW</header>
        </div>
      </div>

      <div class="cards">


       {% for rss_feed_url in rss_feed_urls %}

        <div class="card">
          <div class="title" style="display: flex; justify-content: space-between">
            <div id="title-{{ loop.index }}-content" class="title-l">{{ rss_feed_url }}</div>
            <div class="title-r"> <button type="button" class="btnr" onclick="refreshFeed({{ loop.index }})"><i class="fa fa-refresh" aria-hidden="true"></i></button></div>
          </div>
          <div id="feed-{{ loop.index }}-content">Loading...</div>
        </div>
        {% endfor %}

    </div>

    <div class="bottombanner">
      <p>
      <a href="https://github.com/semiformal-net/rssboxes" target="_blank">
       <button type="button" class="btn"><i class="fa fa-github fa-lg" aria-hidden="true"></i></button>
      </a> Semiformal
      </p>
    </div>



<script>
// Function to make an asynchronous AJAX request
function makeAsyncRequest(url, callback) {
  const xhr = new XMLHttpRequest();
  xhr.timeout = 30000; // timeout in ms
  xhr.onreadystatechange = function() {
    if (xhr.readyState == 4) {
      if (xhr.status == 200) {
        callback(null, JSON.parse(xhr.responseText));
      } else {
        callback("Error: " + xhr.status);
      }
    }
  };
  xhr.open("GET", url, true);
  xhr.send();
}

// Function to display the parsed feed items
function displayRssFeed(feedItems, containerId) {
  var rssFeedContainer = document.getElementById(containerId);

  // Display the first 5 items
  var content = "<ul>";
  for (var i = 0; i < feedItems.length; i++) {
    var title = feedItems[i].title;
    var summary = feedItems[i].summary;
    var url = feedItems[i].url;

    //content += "<div><h3>" + title + "</h3><p>" + summary + "</p><a href='" + url + "' target='_blank'>Read more</a></div>";
    content += "<li> <a href='" + url + "' target='_blank'>" + title + "</a><div class=subtext>" + summary + "</div></li>"
  }
  content += "</ul>"
  rssFeedContainer.innerHTML = content;
}

// Function to display the parsed feed items
function titledisplayRssFeed(title, containerId) {
  var rssFeedContainer = document.getElementById(containerId);
  // set title
  var content = title;
  rssFeedContainer.innerHTML = content;
}
// Function to handle the refresh button click
function refreshFeed(feedNumber) {
  var feedContainerId = "feed-" + feedNumber + "-content";
  var titleContainerId = "title-" + feedNumber + "-content";

  // Display loading message
  document.getElementById(feedContainerId).innerHTML = "Loading...";

  // Make the asynchronous AJAX request to the Flask proxy
  makeAsyncRequest("/fetch_feed/" + feedNumber, function(error, response) {
    console.log("feed",feedNumber);
    console.log("Error:", error);
    console.log("Response:", response);

    if (!response) {
      document.getElementById(feedContainerId).innerHTML = "No response";
    }

    if (!error && response.success) {
      displayRssFeed(response.feed_items, feedContainerId);
      titledisplayRssFeed(response.title, titleContainerId);
    } else {
      document.getElementById(feedContainerId).innerHTML = "Error loading feed: " + response.error;
    }
  });
}


// Trigger the feeds to load when the page loads
{% for url in rss_feed_urls %}
refreshFeed({{ loop.index }});
{% endfor %}
</script>

  </body>
</html>
